<div class="col-xs-8 col-xs-offset-2">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div formGroupName="user">
      <div class="form-group" [ngClass]="{'has-error': form.get('user.email').invalid && form.get('user.email').touched}">
        <label>Email</label>
        <input type="text" class="form-control" formControlName="email">
        <p
          *ngIf="form.get('user.email').invalid && form.get('user.email').touched"
        >
          <span *ngIf="form.get('user.email').errors['email']">Введите корректный email</span>
          <span *ngIf="form.get('user.email').errors['emailIsUsed']">Такой email уже существует</span>
        </p>
      </div>
      <div class="form-group" [ngClass]="{'has-error': form.get('user.pass').invalid && form.get('user.pass').touched}">
        <label>Пароль</label>
        <input type="password" class="form-control" formControlName="pass">
        <p
          *ngIf="form.get('user.pass').invalid && form.get('user.pass').touched"
        >
          <span *ngIf="form.get('user.pass').errors['required']">Пароль не должен быть пустым!</span>
          <span *ngIf="form.get('user.pass').errors['lengthError']">Пароль не должен быть меньше {{charsCount}}х символов!</span>
        </p>
      </div>
    </div>
    <div class="form-group">
      <label>Выберите страну</label>
      <select class="form-control" formControlName="country">
        <option value="ru">Россия</option>
        <option value="by">Белоруссия</option>
        <option value="ua">Украина</option>
      </select>
    </div>
    <div class="radio" *ngFor="let ans of answers">
      <label>
        <input
          type="radio"
          name="answer"
          formControlName="answer"
          [value]="ans.type"
        > {{ans.text}}
      </label>
    </div>
    <button
      class="btn btn-success"
      type="submit"
      [disabled]="form.invalid"
    >Сохранить</button>
  </form>
</div>
