<div class="col-xs-8 col-xs-offset-2">
  <input type="text" [(ngModel)]="carName">

  <button class="btn btn-primary" (click)="addCars()">Добавить машины</button>
  <button class="btn btn-primary" (click)="loadCars()">Загрузить машины</button>
  <hr>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let car of cars">
      <span class="badge" [ngStyle]="{background: car.color}">
        {{car.id}}
      </span>
      {{car.name}}
      <button class="btn" (click)="setNewColor(car)">Изменить цвет</button>
      <button class="btn" (click)="deleteCar(car)">Удалить Машину</button>
    </li>
  </ul>
</div>
