
<div class="col-xs-8 col-xs-offset-2">
  <form (ngSubmit)="submitForm(form)" #form="ngForm">
    <div ngModelGroup="user" #user="ngModelGroup">
      <div class="form-group" [ngClass]="{'has-error': email.invalid && email.touched}">
        <label>Email</label>
        <input
          type="text"
          class="form-control"
          ngModel
          name="email"
          required
          email
          #email="ngModel"
        >

        <p *ngIf="email.invalid && email.touched">Введите правильный Email</p>
        <button type="button" (click)="clickRandEmail()">Добавить кнопку</button>
      </div>
      <div class="form-group">
        <label>Пароль</label>
        <input
          type="password"
          class="form-control"
          ngModel
          name="pass"
          required
          #pass="ngModel"
        >
        <p *ngIf="pass.invalid && pass.touched">Введите правильный Password</p>
      </div>
      <p *ngIf="user.invalid && user.touched">Данные пользователя введены некоректно</p>
    </div>
    <div class="form-group">
      <label>Выберите страну</label>
      <select
        class="form-control"
        [ngModel]="defaultCountry"
        name="country"
        required
      >
        <option value="ru">Украина </option>
        <option value="by">Белоруссия</option>
        <option value="ua">Россия</option>
      </select>
    </div>
    <div class="radio" *ngFor="let ans of answers">
      <label>
        <input
          type="radio"
          [value]="ans.type"
          [ngModel]="defaultAnswer"
          name="answer"
          required
        > {{ans.text}}
      </label>
    </div>
    <button
      class="btn btn-success"
      type="submit"
      [disabled]="!form.valid"
    >Сохранить</button>
  </form>

  <div *ngIf="isSumbmited">

    <pre>

      {{ formDataa | json }}

    </pre>

  </div>
</div>
