<h1>Form to adding products</h1>

<app-add-product (onAddProduct)="updateProductList($event)"></app-add-product>

<button (click)="changeProductTitle()">Change title product</button>

<button (click)="deleteProduct()">Delete Product</button>

<app-product *ngFor="let product of products" [productItem]="product" [nameProduct]="product.name">
  <div class="product">
    <h3 #productHeading>
      Title: "{{ product.name }}"
    </h3>
    <div class="publish_date">
      Published date: "{{ product.year }}"
    </div>
  </div>
</app-product>
